[Desktop Entry]
Version=1.5
Name=Unvanquished
Comment=Team-based FPS/RTS Game, Aliens vs. Humans
Icon=${SNAP}/meta/gui/unvanquished.png
Terminal=false
Type=Application
Exec=unvanquished-alpo.unvanquished
Categories=Game;ActionGame;StrategyGame;
# Unclear if this will work when Breakpad is enabled
PrefersNonDefaultGPU=true
